.comp-input-setting {
  height: 40px;
  width: 150px;
  border-radius: 2px;
  border: 1px solid #d8d8d8;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  color: #5d6e7f;
  text-align: center;
  padding: 0 10px;
  &:focus {
    outline: none;
    border-color: #3495da;
  }
}
